<div class="row mb-3 align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto">
    <div class="section-title">
      <h2>{{'ADD_DOCUMENT' | translate}}</h2>
    </div>
  </div>
</div>

<form [formGroup]="documentForm">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label>{{'NAME' | translate}}</label>
        <input formControlName="name" class="form-control" type="text">
        <div *ngIf="documentForm.get('name').touched && documentForm.get('name').errors">
          <div class="text-danger" *ngIf="documentForm.get('name').errors?.required">
            {{'NAME_IS_REQUIRED' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <!-- <mat-form-field class="w-50"> -->
        <mat-label>{{'CATEGORY' | translate}}</mat-label>
        <mat-select class="form-control" formControlName="categoryId">
          <mat-option>-- {{'NONE' | translate}} --</mat-option>
          <mat-option *ngFor="let category of allCategories" [value]="category.id">
            <div class="country-item" [ngStyle]="{'margin-left.px': category.deafLevel* 20}">
              <div *ngIf="!category.parentId">
                <b> {{category.name}}</b>
              </div>
              <div *ngIf="category.parentId">
                {{category.name}}
              </div>
            </div>
          </mat-option>
        </mat-select>
        <!-- </mat-form-field> -->
        <div *ngIf="documentForm.get('categoryId').touched && documentForm.get('categoryId').errors">
          <div class="text-danger" *ngIf="documentForm.get('categoryId').errors?.required">
            {{'CATEGORY_IS_REQUIRED' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group ">
        <label>{{'DESCRIPTION' | translate}}</label>
        <textarea formControlName="description" class="form-control">
        </textarea>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>{{'DOCUMENT_UPLOAD' | translate}}</label>
        <input class="form-control" #file (change)="upload(file.files)" type="file">
        <div
          *ngIf="(documentForm.get('url').touched || documentForm.get('url').dirty) && documentForm.get('url').errors">
          <div class="text-danger" *ngIf="documentForm.get('url').errors?.required">
            {{'DOCUMENT_IS_REQUIRED' | translate}}
          </div>
        </div>
        <div
          *ngIf="(documentForm.get('extension').touched || documentForm.get('extension').dirty) && documentForm.get('url').errors">
          <div class="text-danger" *ngIf="documentForm.get('extension').errors?.required">
            {{'DOCUMENT_TYPE_IS_NOT_ALLOW' | translate}}
          </div>
        </div>
        <!-- <div *ngIf="documentForm.get('fileSize').touched && documentForm.get('fileSize').errors">
          <div class="text-danger" *ngIf="documentForm.get('fileSize').errors?.required">
            Document size is maximum 10MB.
          </div>
        </div> -->
      </div>
    </div>

    <div class="col-sm-6">
      <div class="" formArrayName="documentMetaTags"
        *ngFor="let documentmetatag of documentMetaTagsArray.controls; let i=index">
        <ng-container [formGroupName]="i">
          <label  *ngIf="i==0"> {{'META_TAGS' | translate}} </label>
          <div class="form-row">
            <div class="form-group col-md mb-1 col">
              <input (change)="onMetatagChange($event,i)" formControlName="metatag" class="form-control" type="text">
            </div>
            <div class="form-group col-md-auto col-auto mb-1">
              <button *ngIf="i==0" (click)="onAddAnotherMetaTag()" class="btn btn-outline-success" type="button"> <i
                  class="las la-plus"></i></button>
              <button *ngIf="i!=0" (click)="onDeleteMetaTag(i)" class="btn btn-outline-danger" type="button"><i
                  class="las la-trash-alt"></i></button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-md-12">
      <mat-progress-bar *ngIf="showProgress" mode="determinate" [value]="progress"></mat-progress-bar>
    </div>
    <div class="m-top-10 col-md-12">
      <button *hasClaim="'all_documents_create_document'" [disabled]="!isFileUpload"
        class="btn btn-success btn-sm m-right-10" (click)="SaveDocument()" cdkFocusInitial><i class="las la-save"></i>
        {{'SAVE' | translate}}</button>
      <button type="button" class="btn btn-danger btn-sm" [routerLink]="['/documents']"><i
          class="las la-times-circle"></i> {{'CANCEL' | translate}}</button>
    </div>
  </div>
</form>