.mainmenu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mainmenu a,
.mainmenu label {
  display: block;
  // background-color: #fff;
  text-decoration: none;
  padding: 10px;
  // color: #000;
  margin-bottom: 0;
  cursor: pointer;
}

// .mainmenu a:hover,
// .mainmenu label:hover {
//   background-color: #c5c5c5;
// }

/* hide the input */
.mainmenu input {
  display: none;
}
/* if a sibling checkbox is check show the menu */
.mainmenu input:checked ~ .submenu {
  display: block;
  max-height: 200px;
}
.submenu a,
.submenu label {
  background-color: #6c757d;
  color: #fff;
  border-bottom: 1px solid #969696;
}
.submenu a:hover {
  background-color: #666;
}
.submenu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}
