<div class="left-sidenav">
  <div class="main-menu-inner">
    <div class="menu-body">
      <ul class="nav mainmenu">
        <li *hasClaim="'dashboard_view_dashboard'" class="nav-item" [routerLink]="['/dashboard']"
          [routerLinkActive]="['active','shadow']" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-tachometer-alt"></i>
            <span class="nav-text">{{'DASHBOARD' | translate}}</span>
          </div>
        </li>
        <li class="nav-item" [routerLink]="['/']" [routerLinkActive]="['active','shadow']"
          routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-list"></i>
            <span class="nav-text">{{'ASSIGNED_DOCUMENTS' | translate}}</span>
          </div>
        </li>
        <li *hasClaim="'all_documents_view_documents'" class="nav-item" [routerLink]="['/documents']"
          [routerLinkActive]="['active']" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-file-pdf"></i>
            <span class="nav-text">{{'ALL_DOCUMENTS' | translate}}</span>
          </div>
        </li>
        <li *hasClaim="'document_category_view_categories'" class="nav-item" [routerLink]="['/categories']"
          [routerLinkActive]="['active']" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-file-code"></i>
            <span class="nav-text">{{'DOCUMENT_CATEGORIES' | translate}}</span>
          </div>
        </li>
        <li *hasClaim="'document_audit_trail_view_document_audit_trail'" class="nav-item"
          [routerLink]="['/document-audit-trails']" [routerLinkActive]="['active','shadow']"
          routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-th-list"></i>
            <span class="nav-text">{{'DOCUMENTS_AUDIT_TRAIL' | translate}}</span>
          </div>
        </li>
        <li *hasClaim="'role_view_roles'" class="nav-item" [routerLink]="['/roles']"
          [routerLinkActive]="['active','shadow']" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-tasks"></i>
            <span class="nav-text">{{'ROLES' | translate}}</span>
          </div>
        </li>
        <li *hasClaim="'user_view_users'" class="nav-item" [routerLink]="['/users']"
          [routerLinkActive]="['active','shadow']" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-user"></i>
            <span class="nav-text">{{'USERS' | translate}}</span>
          </div>
        </li>
        <li *hasClaim="'user_assign_user_role'" class="nav-item" [routerLink]="['/roles/users']"
          [routerLinkActive]="['active','shadow']" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-id-badge"></i>
            <span class="nav-text">{{'ROLE_USER' | translate}}</span>
          </div>
        </li>
        <li class="nav-item" *hasClaim="'reminder_view_reminders'" [routerLink]="['/reminders']"
          [routerLinkActive]="['active','shadow']" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-bell"></i>
            <span class="nav-text">{{'REMINDER' | translate}}</span>
          </div>
        </li>
        <li *hasClaim="'login_audit_view_login_audit_logs'" class="nav-item" [routerLink]="['/login-audit']"
          [routerLinkActive]="['active','shadow']" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{exact:true}">
          <div class="nav-item-hold">
            <i class="nav-icon las la-th-list"></i>
            <span class="nav-text">{{'LOGIN_AUDITS' | translate}}</span>
          </div>
        </li>
        <li [ngClass]="onActiveUrl()" class="nav-item" *hasClaim="['email_view_smtp_settings']"
          routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
          <input type="checkbox" id="products">
          <label for="products">
            <i class="nav-icon las la-cog"></i>
            {{'SETTINGS' | translate}} &nbsp;&nbsp;
            <i class="la la-angle-down"></i></label>
          <ul class="submenu">

            <li *hasClaim="'email_view_smtp_settings'" [routerLink]="['/email-smtp']"
              [routerLinkActive]="['active','shadow']" routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{exact:true}">
              <label>{{'EMAIL_SMTP_SETTINGS' | translate}}</label>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>