<div class="row mb-3 align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto">
    <div class="section-title">
      <h2>{{'DOCUMENTS_BY_CATEGORY' | translate}}</h2>
    </div>
  </div>
</div>
<div class="row align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto chart-wrapper">
    <ngx-charts-pie-chart [results]="single" legendTitle="{{'DOCUMENT_CATEGORIES' | translate}}" [legendPosition]="'below'" [legend]="true" [labels]="true">
    </ngx-charts-pie-chart>
  </div>
</div>