<div class="dialog-header">
  <div class="folder-dialog-info">
    <div class="section-title">
      <h2>{{'SEND_EMAIL' | translate}}</h2>
    </div>
  </div>
  <div class="close-icon m-2 text-danger" (click)="closeDialog()">
    <span class="material-icons cursor-pointer">
      close
    </span>
  </div>
</div>
<div class="d-content">
  <div class="box box-primary">
    <div class="box-body">
      <form [formGroup]="emailForm">
        <div class="row">
          <div class="col-md-12 pb-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="toAddress">
                  {{'TO' | translate}}
                </span>
              </div>
              <input formControlName="toAddress" type="text" class="form-control" placeholder="To Email" aria-label="To"
                aria-describedby="toAddress">
            </div>
            <div *ngIf="emailForm.get('toAddress').touched && emailForm.get('toAddress').errors">
              <div class="text-danger" *ngIf="emailForm.get('toAddress').errors?.required">
                {{'TO_ADDRESS_IS_REQUIRED' | translate}}
              </div>
            </div>
            <div *ngIf="emailForm.get('toAddress').touched && emailForm.get('toAddress').errors">
              <div class="text-danger" *ngIf="emailForm.get('toAddress').errors?.email">
                {{'EMAIL_IS_NOT_PROPER_FORMAT' | translate}}
              </div>
            </div>
          </div>
          <div class="col-md-12 pb-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="subject">
                  {{'SUBJECT' | translate}}
                </span>
              </div>
              <input formControlName="subject" type="text" class="form-control" placeholder="Subject" aria-label="To"
                aria-describedby="subject">
            </div>
            <div *ngIf="emailForm.get('subject').touched && emailForm.get('subject').errors">
              <div class="text-danger" *ngIf="emailForm.get('subject').errors?.required">
                {{'SUBJECT_IS_REQUIRED' | translate}}
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="font-weight-bold">
                {{'BODY' | translate}}
              </label>
              <div class="NgxEditor__Wrapper">
                <ckeditor [editor]="editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ] }" formControlName="body" ></ckeditor>
              </div>
              <div *ngIf="emailForm.get('body').touched && emailForm.get('body').errors">
                <div class="text-danger" *ngIf="emailForm.get('body').errors?.required">
                  {{'BODY_IS_REQUIRED' | translate}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 pb-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  {{'ATTACHMENT_DOCUMENT' | translate}} :: {{data?.name}}
                </span>
              </div>
            </div>
          </div>
          <div class="loading-shade" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
          </div>
          <div class="col-md-12 mt-1">
            <button (click)="sendEmail()" type="submit" class="btn btn-success">
              <i class="fas fa-paper-plane"></i>
              {{'SEND' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
