<form [formGroup]="documentForm">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group ">
        <label>{{'Name' | translate}}</label>
        <input formControlName="name" class="form-control" type="text">
        <div *ngIf="documentForm.get('name').touched && documentForm.get('name').errors">
          <div class="text-danger" *ngIf="documentForm.get('name').errors?.required">
            {{'NAME_IS_REQUIRED' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <mat-form-field  class="w-50">
          <mat-label>{{'CATEGORY' | translate}}</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option>-- {{'NONE' | translate}} --</mat-option>
            <mat-option *ngFor="let category of data.categories" [value]="category.id">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="documentForm.get('categoryId').touched && documentForm.get('categoryId').errors">
          <div class="text-danger" *ngIf="documentForm.get('categoryId').errors?.required">
            {{'CATEGORY_NAME_IS_REQUIRED' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group ">
        <label>{{'DESCRIPTION' | translate}}</label>
        <textarea formControlName="description" class="form-control" >
        </textarea>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="" formArrayName="documentMetaTags"
        *ngFor="let documentmetatag of documentMetaTagsArray.controls; let i=index">
        <ng-container [formGroupName]="i">
          <label  *ngIf="i==0"> {{'META_TAGS' | translate}} </label>
          <div class="form-row">
            <div class="form-group col-md mb-1 col">
              <input (change)="onMetatagChange($event,i)" formControlName="metatag" class="form-control" type="text">
            </div>
            <div class="form-group col-md-auto col-auto mb-1">
              <button *ngIf="i==0" (click)="onAddAnotherMetaTag()" class="btn btn-outline-success" type="button"> <i
                  class="las la-plus"></i></button>
              <button *ngIf="i!=0" (click)="onDeleteMetaTag(i)" class="btn btn-outline-danger" type="button"><i
                  class="las la-trash-alt"></i></button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="m-top-10 col-md-12">
      <button *hasClaim="'all_documents_edit_document'" class="btn btn-success btn-sm m-right-10" (click)="SaveDocument()" cdkFocusInitial><i class="las la-save"></i> {{'SAVE' | translate}}</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="onDocumentCancel()"><i class="las la-times-circle"></i> {{'CANCEL' | translate}}</button>
    </div>
  </div>
</form>
