<div class="row mb-3 align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto">
    <div class="section-title">
      <h1 *ngIf="!isEditMode">
        {{'ADD_EMAIL_SMTP_SETTING' | translate}}
      </h1>
      <h1 *ngIf="isEditMode">
        {{'EDIT_EMAIL_SMTP_SETTING' | translate}}
      </h1>
    </div>
  </div>
</div>
<form [formGroup]="smtpSettingForm">
  <div class="box box-primary">
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group ">
            <label> {{'HOST' | translate}}</label>
            <input formControlName="host" class="form-control" type="text">
            <div *ngIf="smtpSettingForm.get('host').touched && smtpSettingForm.get('host').errors">
              <div class="text-danger" *ngIf="smtpSettingForm.get('host').errors?.required">
                {{'HOST_IS_REQUIRED' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <label> {{'PORT' | translate}}</label>
            <input formControlName="port" class="form-control" type="number">
            <div *ngIf="smtpSettingForm.get('port').touched && smtpSettingForm.get('port').errors">
              <div class="text-danger" *ngIf="smtpSettingForm.get('port').errors?.required">
                {{'PORT_IS_REQUIRED' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <label>{{'USER_NAME' | translate}}</label>
            <input formControlName="userName" class="form-control" type="text">
            <div *ngIf="smtpSettingForm.get('userName').touched && smtpSettingForm.get('userName').errors">
              <div class="text-danger" *ngIf="smtpSettingForm.get('userName').errors?.required">
                {{'USER_NAME_IS_REQUIRED' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'PASSWORD' | translate}}</label>
            <input autocomplete="new-password" formControlName="password" class="form-control" type="password">
            <div *ngIf="smtpSettingForm.get('password').touched && smtpSettingForm.get('password').errors">
              <div class="text-danger" *ngIf="smtpSettingForm.get('password').errors?.required">
                {{'PASSWORD_IS_REQUIRED' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 status-switch">
          <mat-slide-toggle formControlName="isEnableSSL">
            <span *ngIf="smtpSettingForm.get('isEnableSSL').value">
              {{'ENABLE_SSL' | translate}}
            </span>
            <span *ngIf="!smtpSettingForm.get('isEnableSSL').value">
              {{'ENABLE_SSL' | translate}}
            </span>
          </mat-slide-toggle>
        </div>
        <div class="form-group col-md-6 status-switch">
          <mat-slide-toggle formControlName="isDefault">
            <span *ngIf="smtpSettingForm.get('isDefault').value">
              {{'IS_DEFAULT' | translate}}
            </span>
            <span *ngIf="!smtpSettingForm.get('isDefault').value">
              {{'IS_DEFAULT' | translate}}
            </span>
          </mat-slide-toggle>
        </div>
        <div class="m-top-10 col-md-12">
          <ng-container *ngIf="isEditMode">
            <button class="btn btn-success btn-sm m-right-10" (click)="saveEmailSMTPSetting()" cdkFocusInitial><i
                class="fas fa-save"></i> {{'SAVE' | translate}}</button>
          </ng-container>
          <ng-container *ngIf="!isEditMode">
            <button class="btn btn-success btn-sm m-right-10" (click)="saveEmailSMTPSetting()" cdkFocusInitial><i
                class="fas fa-save"></i> {{'SAVE' | translate}}</button>
          </ng-container>
          <button type="button" class="btn btn-danger btn-sm" [routerLink]="['/email-smtp']"><i
              class="fas fa-times-circle"></i>
            {{'CANCEL' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>