<div class="row mb-3 align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto">
    <div class="section-title">
      <h2>{{'ALL_DOCUMENTS' | translate}}</h2>
    </div>
  </div>
  <div class="col-md-auto col-sm-auto">
    <h4 class="widget-title">
      <button *hasClaim="'all_documents_create_document'" class="btn btn-success btn-sm m-right-10"
        [routerLink]="['/documents/add']">
        <i class="las la-plus"></i>
        {{'ADD_DOCUMENT' | translate}}
      </button>
    </h4>
  </div>
</div>
<div class="mat-elevation-z8">
  <div class="loading-shade" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <div class="table-container">
    <div class="row m-2">
      <div class="col-md-3">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput placeholder="{{'SEARCH_DOCUMENT_BY_NAME_OR_DESCRIPTION' | translate}}" type="text" #input>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="{{'SEARCH_DOCUMENT_BY_META_TAGS' | translate}}" #metatag>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="form-control" class="w-100">
          <mat-select placeholder="{{'SELECT_CATEGORY' | translate}}" (selectionChange)="onCategoryChange($event)">
            <mat-option [value]="">-- {{'NONE' | translate}} --</mat-option>
            <mat-option *ngFor="let category of allCategories" [value]="category.id">
              <div class="country-item" [ngStyle]="{'margin-left.px': category.deafLevel* 20}">
                <div *ngIf="!category.parentId">
                  <b> {{category.name}}</b>
                </div>
                <div *ngIf="category.parentId">
                  {{category.name}}
                </div>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'CREATED_DATE' | translate}}</mat-label>
          <input #ref matInput [matDatepicker]="picker" (dateInput)="onCreatedDateChange(ref.value)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 m-2" *ngIf="selection.hasValue()">
        <button mat-raised-button color="primary" *hasClaim="'all_documents_share_document'"
          (click)="onSharedSelectDocument()">
          <mat-icon>share</mat-icon>
          {{'SHARE' | translate}}
        </button>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" matSort matSortActive="createdDate"
      matSortDirection="desc">
      <ng-container matColumnDef="select">
        <th style="width:100px;" mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" color="primary"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" color="primary"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>{{'ACTION' | translate}} </th>
        <td mat-cell *matCellDef="let document">
          <button class="btn btn-sm btn-primary" [matMenuTriggerFor]="menu" aria-label="Action">
            <i class="las la-ellipsis-v"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button *hasClaim="'all_documents_edit_document'" mat-menu-item class="btn btn-light btn-sm"
              (click)="editDocument(document)">
              <mat-icon>edit</mat-icon>
              {{'EDIT' | translate}}
            </button>
            <button *hasClaim="'all_documents_share_document'" mat-menu-item class="btn btn-light btn-sm"
              (click)="manageDocumentPermission(document)" type="button">
              <mat-icon>share</mat-icon>
              {{'SHARE'| translate}}
            </button>
            <button class="btn btn-light btn-sm" mat-menu-item (click)="onDocumentView(document)" type="button">
              <mat-icon>visibility</mat-icon>
              {{'VIEW' | translate}}
            </button>
            <button class="btn btn-light btn-sm" *hasClaim="'all_documents_download_document'" mat-menu-item
              (click)="downloadDocument(document)" type="button">
              <mat-icon>download</mat-icon>
              {{'DOWNLOAD' | translate}}
            </button>
            <button mat-menu-item class="btn btn-light btn-sm" (click)="uploadNewVersion(document)" type="button">
              <mat-icon>upload</mat-icon>
              {{'UPLOAD_NEW_VERSION_FILE' | translate}}
            </button>
            <button mat-menu-item (click)="onVersionHistoryClick(document)">
              <mat-icon> history</mat-icon>
              Version History
            </button>
            <button class="btn btn-light btn-sm" mat-menu-item (click)="addComment(document)" type="button">
              <mat-icon> chat</mat-icon>
              {{'COMMENT' | translate}}
            </button>
            <button class="btn btn-light btn-sm" mat-menu-item (click)="addReminder(document)" type="button">
              <mat-icon>notifications</mat-icon>
              {{'ADD_REMINDER' | translate}}
            </button>
            <button class="btn btn-light btn-sm" mat-menu-item (click)="sendEmail(document)" type="button">
              <mat-icon>forward_to_inbox</mat-icon>
              {{'SEND_EMAIL' | translate}}
            </button>
            <button *hasClaim="'all_documents_delete_document'" mat-menu-item class="btn btn-light btn-sm"
              (click)="deleteDocument(document)" type="button">
              <mat-icon>delete</mat-icon>
              {{'DELETE' | translate}}
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'NAME' | translate}} </th>
        <td mat-cell *matCellDef="let document"> {{document.name}} </td>
      </ng-container>
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'DOCUMENT_CATEGORY' | translate}}</th>
        <td mat-cell *matCellDef="let document"> {{document.categoryName}} </td>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'CREATED_DATE' | translate}} </th>
        <td mat-cell *matCellDef="let document"> {{document?.createdDate | date:"dd/MM/yyyy"}} </td>
      </ng-container>
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'CREATED_BY' | translate}} </th>
        <td mat-cell *matCellDef="let document"> {{document?.createdBy}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="documentResource.totalCount" [pageSize]="documentResource.pageSize"
      [pageSizeOptions]="[10, 20, 30]"></mat-paginator>

  </div>
</div>