<!-- <div class="row align-items-center">
  <div class="col-md-4 col-sm-12">
    <h4 class="widget-title">Screen Operation</h4>
  </div>
</div>
<form class="form-horizontal" novalidate [formGroup]="screenOperationForm">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th *ngFor='let operation of operations;' scope="col">
          {{operation.name}}
        </th>
      </tr>
    </thead>
    <tbody formArrayName="screenOperationArray">
      <ng-container *ngFor="let screenOperation of screenOperationArray.controls; let i=index">
        <ng-container [formGroupName]="i">
          <ng-container *ngIf="i ===0 || screenOperation[i-1]?.screenId !== screenOperation[i].screenId">
            <tr>
              <td>
                {{screenOperation.get('screenName').value}}
              </td>
              <td>
                <mat-slide-toggle formControlName="flag">
                </mat-slide-toggle>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i !==0 || screenOperation[i-1]?.screenId === screenOperation[i]?.screenId">
            <td>
              <mat-slide-toggle formControlName="flag">
              </mat-slide-toggle>
            </td>
          </ng-container>

        </ng-container>
      </ng-container>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-success" (click)="saveScreenOperation()">Save</button>
  </div>
</form> -->
<div class="row mb-3 align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto">
    <div class="section-title">
      <h2>Page Actions</h2>
    </div>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th *ngFor='let operation of operations;' scope="col">
        {{operation.name}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let screen of screens;'>
      <td>
        {{screen.name}}
      </td>
      <td *ngFor='let operation of operations'>
        <mat-slide-toggle (change)="onScreenOperationChange($event,screen.id,operation.id)" [checked]="onCheck(screen.id,operation.id)">
        </mat-slide-toggle>
      </td>
    </tr>
  </tbody>
</table>

