<div class="row mb-3 align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto">
    <div class="section-title">
      <h2>{{'EMAIL_SMTP_SETTINGS' | translate}}</h2>
    </div>
  </div>
  <div class="col-md-auto col-sm-auto">
    <h4 class="widget-title">
      <button [routerLink]="['/email-smtp/manage']" class="btn btn-success btn-sm m-right-10">
        <i class="fas fa-plus"></i>
        {{'ADD_SMTP_SETTING' | translate}}
      </button>
    </h4>
  </div>
</div>
<div class="mat-elevation-z8">
  <div class="table-container">
    <table mat-table [dataSource]="emailSMTPSettings">
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th style="width:30%" mat-header-cell *matHeaderCellDef>{{'ACTION' | translate}} </th>
        <td style="width:30%" mat-cell *matCellDef="let emailSMTPSetting">
          <button [routerLink]="['/email-smtp/manage', emailSMTPSetting.id]"
            class="btn btn-success btn-sm m-right-10" type="button">
            <i class="fas fa-pencil-alt"></i>
            <span class="d-none d-sm-inline"> {{'EDIT' | translate}}</span>
          </button>
          <button class="btn btn-danger btn-sm" type="button" (click)="deleteEmailSMTPSetting(emailSMTPSetting)">
            <i class="fas fa-trash-alt"></i>
            <span class="d-none d-sm-inline"> {{'DELETE' | translate}}</span>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="host">
        <th mat-header-cell *matHeaderCellDef> {{'HOST' | translate}} </th>
        <td mat-cell *matCellDef="let emailSMTPSetting"> {{emailSMTPSetting.host}} </td>
      </ng-container>
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> {{'USER_NAME' | translate}}</th>
        <td mat-cell *matCellDef="let emailSMTPSetting"> {{emailSMTPSetting.userName}} </td>
      </ng-container>
      <ng-container matColumnDef="port">
        <th mat-header-cell *matHeaderCellDef>{{'PORT' | translate}} </th>
        <td mat-cell *matCellDef="let emailSMTPSetting"> {{emailSMTPSetting.port}} </td>
      </ng-container>
      <ng-container matColumnDef="isDefault">
        <th mat-header-cell *matHeaderCellDef> {{'IS_DEFAULT' | translate}} </th>
        <td mat-cell *matCellDef="let emailSMTPSetting">
          <ng-container *ngIf="emailSMTPSetting.isDefault">{{'YES' | translate}}</ng-container>
          <ng-container *ngIf="!emailSMTPSetting.isDefault">{{'NO' | translate}}</ng-container>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
