<div class="row mb-3 align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto">
    <div class="section-title">
      <h2 *ngIf="!isEditMode">{{'ADD_USER' | translate}}</h2>
      <h2 *ngIf="isEditMode">{{'EDIT_USER' | translate}}</h2>
    </div>
  </div>
</div>

<form [formGroup]="userForm">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group ">
        <label>{{'FIRST_NAME' | translate}}</label>
        <input formControlName="firstName" class="form-control" type="text">
        <div *ngIf="userForm.get('firstName').touched && userForm.get('firstName').errors">
          <div class="text-danger" *ngIf="userForm.get('firstName').errors?.required">
            {{'FIRST_NAME_IS_REQUIRED' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group ">
        <label>{{'LAST_NAME' | translate}}</label>
        <input formControlName="lastName" class="form-control" type="text">
        <div *ngIf="userForm.get('lastName').touched && userForm.get('lastName').errors">
          <div class="text-danger" *ngIf="userForm.get('lastName').errors?.required">
            {{'LAST_NAME_IS_REQUIRED' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group ">
        <label>{{'MOBILE_NUMBER' | translate}}</label>
        <input formControlName="phoneNumber" class="form-control" type="text">
        <div *ngIf="userForm.get('phoneNumber').touched && userForm.get('phoneNumber').errors">
          <div class="text-danger" *ngIf="userForm.get('phoneNumber').errors?.required">
            {{"MOBILE_IS_REQUIRED" | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Email</label>
        <input [attr.disabled]="isEditMode ? '' : null" formControlName="email" class="form-control" type="email">
        <div *ngIf="userForm.get('email').touched && userForm.get('email').errors">
          <div class="text-danger" *ngIf="userForm.get('email').errors?.required">
            {{'EMAIL_IS_REQUIRED' | translate}}
          </div>
          <div class="text-danger" *ngIf="userForm.get('email').errors?.email">
            {{'PLEASE_ENTER_VALID_EMAIL' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isEditMode" class="col-md-6">
      <div class="form-group">
        <label>{{'PASSWORD' | translate}}</label>
        <input autocomplete="new-password" formControlName="password" class="form-control" type="password">
        <div *ngIf="userForm.get('password').touched && userForm.get('password').errors">
          <div class="text-danger" *ngIf="userForm.get('password').errors?.required">
            {{'PASSWORD_IS_REQUIRED' | translate}}
          </div>
          <div class="text-danger" *ngIf="userForm.get('password').errors?.minlength">
            {{'YOU_HAVE_TO_ENTER_AT_LEAST_DIGIT' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isEditMode" class="col-md-6">
      <div class="form-group">
        <label>Confirm Password</label>
        <input autocomplete="new-password" formControlName="confirmPassword" class="form-control" type="password">
        <div *ngIf="userForm.get('confirmPassword').touched && userForm.get('confirmPassword').errors">
          <div class="text-danger" *ngIf="userForm.get('confirmPassword').errors?.required">
            {{'CONFIRM_PASSWORD_IS_REQUIRED' | translate}}
          </div>
        </div>
        <div class="text-danger" *ngIf="userForm.get('confirmPassword').touched && userForm.hasError('notSame')">
          {{'PASSWORDS_DO_NOT_MATCH' | translate}}
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>{{'ROLES' | translate}}</mat-label>
        <mat-select [(value)]="selectedRoles" multiple>
          <mat-select-trigger>
            <span *ngIf="selectedRoles.length > 0">
              {{selectedRoles[0].name}}
            </span>
            <span *ngIf="selectedRoles.length > 1" class="example-additional-selection">
              (+{{selectedRoles.length - 1}} {{selectedRoles.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let role of roleList" [value]="role">{{role.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="m-top-10 col-md-12">
      <ng-container *ngIf="isEditMode">
        <button *hasClaim="'user_edit_user'" class="btn btn-success btn-sm m-right-10" (click)="saveUser()"
          cdkFocusInitial><i class="las la-save"></i> Save</button>
      </ng-container>
      <ng-container *ngIf="!isEditMode">
        <button *hasClaim="'user_create_user'" class="btn btn-success btn-sm m-right-10" (click)="saveUser()"
          cdkFocusInitial><i class="las la-save"></i> {{'SAVE' | translate}}</button>
      </ng-container>
      <button type="button" class="btn btn-danger btn-sm" [routerLink]="['/users']"><i class="las la-times-circle"></i> {{'CANCEL' | translate}}</button>
    </div>
  </div>
</form>
